:root {
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
}